{% extends 'base.html' %}

{% block body %}
    <!-- the contents from the base.html up to which the blockbody called will be fetched-->

    <div class="container">
        <div class="row">

            {% for i in movies %}
                <div class="col-md-4">
                    <div class="card mb-4" style="width: 18rem;">
                        <img class="card-img-top" src="{{ i.img.url }}" alt="Card image cap" width="100px" height="150px">
                        <div class="card-body">
                            <h5 class="card-title">{{ i.name }}</h5>
                            <p class="card-text">{{ i.year }}.</p>
                            <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}

        </div>
    </div>

{% endblock %}
