{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<!-- Image and text -->
<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="#">
      MOVIES
  </a>
</nav>
<body>

{% for i in movies %}
<!--<a href="movie/{{i.id}}"><br>-->
<!--another way to give the path to details-->
<a href="{% url 'movieapp:detail' i.id %}">
{{i.name}}<br>
<!--{{i.desc}}<br>
{{i.year}}<br>-->
{% endfor %}
</body>

</html>